# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore logs and temp files
logs/
*.log

# Ignore Spark and Hadoop metadata
*.crc
.DS_Store

# Ignore data files
/data/
/output/

# Ignore Parquet files
*.parquet

# Ignore Docker files
*.dockerignore

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/
